@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* =========================
   Global Responsive Fixes
========================= */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Media should never overflow */
img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}